nav {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    align-items: center;
    height: 70px;
}

h1.title {
    color: #ffffff;
}

div.cart {
    /* height: 50px;
    width: 50px; */
    cursor: pointer;
    background: #2e2e2e;
    border-radius: 3px;
}

div.cart:hover {
    background: rgba(255, 255, 255, 0.119);
}

div.inner-cart {
    gap: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 5px 20px;
    /* background-color: #df1010; */
}

span.number {
    background-color: rgb(255, 20, 20);
    width: fit-content;
    padding: 0px 5px;
    text-align: center;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
}

div.products {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    width: fit-content;
    margin: auto;
}

@media(max-width:1369px) {
    div.products {
        width: 1085px;
    }
}

@media(max-width:1104px) {
    div.products {
        width: 820px;
    }
}

@media(max-width:840px) {
    div.products {
        width: 555px;
    }
}

@media(max-width:575px) {
    div.products {
        padding: 10px;
        width: 270px;
    }
}

div.price {
    /* background-color: blueviolet; */
    font-weight: bold;
    font-size: 20px;
}

div.box {
    /* background-color: #bc6da9; */
    display: flex;
    justify-content: space-between;
}

div.card {
    width: 250px;
    box-shadow: 0px 0px 10px 2px rgb(194, 194, 194);
}

div.productCart {
    height: 80px;
    display: flex;
    padding-right: 8px;
    justify-content: space-between;
    /* background: #cfcfcf; */
    border: 1px solid rgb(210, 209, 209);
    border-radius: 5px;
    margin-bottom: 5px;
}

img.imageCart {
    width: 70px;
}

/* h4.productName {
    background-color: blue;
    margin-right: 5px;
} */

div.priceBox {
    /* background-color: #e95252; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding: 2px;
}

div.titleBox {
    /* background-color: #350808; */
    display: flex;
    align-items: center;
}

div.productPrice {
    font-size: 23px;
    font-weight: bold;

}

div.quantity {
    /* background-color: #ff2121; */
    display: flex;
    align-items: center;
}

button.bbtn {
    /* border: 1px solid black; */
    font-weight: bolder;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    margin: 0px 3px;
    background-color: rgb(61, 61, 245);
}

button.bbtn:hover {
    background-color: rgb(30, 55, 196);

}

h6.counter {
    font-size: 20px;
    /* background: #000; */
    margin-top: 7px;
}